{% extends "scrm/base.html" %}
{% load staticfiles %}
{% block base %}
<script>
    var old_id;
    function detail(extracao_id) {
        $.ajax({
            method: 'post',
            url: '{% url 'twitter_table' %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'extracao_id': extracao_id
            }
        }).done(function (data) {
            $("#detail_pannel").removeClass("hidden");
            $("#extracao_"+old_id).toggleClass("list-group-item-success");
            $("#btn_search_"+old_id).toggleClass("disabled");
            $("#extracao_"+extracao_id).toggleClass("list-group-item-success");
            $("#btn_search_"+extracao_id).toggleClass("disabled");
            $("#detail_pannel").html(data);
            old_id = extracao_id;
        });

    }

    function updateStatus(extracao_id){
        console.log("teste update func "+extracao_id);

        var interval = setInterval(request,2000);
        function request() {
            console.log("teste request func "+extracao_id);
            $.ajax({
            method: 'post',
            url: '{% url 'update_coleta_status' %}',
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'extracao_id': extracao_id
            }
        }).done(function (data) {
            console.log("test request func "+extracao_id);
            var done = data.done;
            if(done){
                clearInterval(interval);
                $("#img_"+extracao_id).hide();
                $("#h5_"+extracao_id+"_2").remove();
                $("#div_"+extracao_id+"_content").append("<h5 id=\"h5_"+extracao_id+"_2\"><b>Fonte:</b> "+data.fonte+"   "+ data.quantidade+" Resultados</h5>");
            }else {
                $("#img_"+extracao_id).show();
                 $("#h5_"+extracao_id+"_2").remove();
                $("#div_"+extracao_id+"_content").append("<h5 id=\"h5_"+extracao_id+"_2\"><b>Fonte:</b> "+data.fonte+"   "+ data.quantidade+" Resultados</h5>");
            }
        });
        }
    }
</script>

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Coletas Efetuadas</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-file-text fa-fw"></i>
            </div>
            <div class="panel-body">
                <div class="col-lg-6">
                    {% if retorno.extracao_list|length > 3 %}
                    <div class="list-group" style="height: 350px;  overflow-y: scroll;">
                    {% endif %}
                        {% if retorno.extracao_list|length <= 3 %}
                        <div class="list-group">
                        {% endif %}

                            {% for extracao in retorno.extracao_list %}
                                <div class="list-group-item" id="extracao_{{ extracao.id }}">
                                <div id="img_{{ extracao.id }}" style="z-index: 100; opacity: 0.90; position: absolute; top: 0; left: 0; background-color: white;bottom: 0;right: 0;">
                                <img src="{% static 'img/Loading_icon.gif' %}" onload="updateStatus({{ extracao.id }})" height="100" style="padding-left: 40%">
                                </div>
                                 <div id="content_div" style=" position: relative; top: 0; left: 0;">
                                    <div id="div_{{ extracao.id }}_content">
                                        <h5 id="h5_{{ extracao.id }}_1"><b>Termo:</b> {{ extracao.termo }}</h5>
                                        <h5 id="h5_{{ extracao.id }}_2"><b>Fonte:</b> {{ extracao.fonte }}   {{ extracao.quantidade }} Resultados</h5>
                                    </div>
                                    <div>
                                        <form action="{% url 'deletarColeta' %}" method="post">
                                            <button class="btn btn-circle btn-twitter" id="btn_search_{{ extracao.id }}" type="button" onclick="detail({{ extracao.id }})">
                                                <i class="fa fa-search"></i>
                                            </button>
                                            <button class="btn btn-circle btn-success" type="button">
                                                <i class="fa fa-gears"></i>
                                            </button>
                                                {% csrf_token %}
                                            <button class="btn btn-circle btn-danger" type="submit" name="extracao_id" value="{{ extracao.id }}">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </form>
                                    </div>
                                </div>
                                </div>
                            {% endfor %}
                        {% if retorno.extracao_list|length > 3 %}
                        </div>
                        {% endif %}
                    {% if retorno.extracao_list|length <= 3 %}
                    </div>
                    {% endif %}
                </div>
                <div class="col-lg-6">
                    <div class="chat-panel panel hidden" id="detail_pannel">
{#                        <div class="panel-body">#}
{#                            <table class="table table-responsive">#}
{#                                <tbody id="table-content">#}
{#                                </tbody>#}
{#                            </table>#}
{#                        </div>#}
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}